@using Profais.Services.ViewModels.Shared;
@using Profais.Services.ViewModels.Penalty;
@model PagedResult<CollectionPenaltyViewModel>

@{
    ViewData["Title"] = "Penalty - Mine";

    Model.PaginationViewModel.Area = "";
    Model.PaginationViewModel.Controller = "Penalty";
    Model.PaginationViewModel.Action = "GetMyPenalties";
}

<div class="container mt-4">
    <h2>
        @ViewData["Title"]
    </h2>

    <div class="row">
        @foreach (CollectionPenaltyViewModel penalty in Model.Items)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @penalty.Title
                        </h5>

                        <form asp-action="ViewPenalty" asp-controller="Penalty" method="get">
                            <input hidden name="penaltyId" value="@penalty.Id" />

                            <button type="submit" class="btn btn-primary">
                                View Penalty
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <partial name="_Pagination" model="Model.PaginationViewModel" />
</div>