@using Profais.Services.ViewModels.Penalty;
@model PenaltyViewModel

@{
	ViewData["Title"] = "Penalty - Details";
}

<div class="card">
	<div class="card-header">
		<h2>
			@ViewData["Title"]
		</h2>
	</div>

	<div class="card-body">
		<div class="mb-3">
			<label for="penaltyId" class="form-label">
				Penalty ID
			</label>

			<input id="penaltyId" value="@Model.Id" type="text" readonly class="form-control" />
		</div>

		<div class="mb-3">
			<label for="penaltyTitle" class="form-label">
				Title
			</label>

			<input id="penaltyTitle" value="@Model.Title" type="text" readonly class="form-control" />
		</div>

		<div class="mb-3">
			<label for="penaltyDescription" class="form-label">
				Description
			</label>

			<textarea id="penaltyDescription" rows="4" readonly class="form-control">
				@Model.Description
			</textarea>
		</div>
	</div>
</div>
