@using Profais.Services.ViewModels.Material;
@using Profais.Common.Enums;
@model MaterialCreateViewModel

@{
    ViewData["Title"] = "Material Panel - Add";
}

<div class="container mt-4">
    <h2>
        @ViewData["Title"]
    </h2>

    <form asp-area="Admin" asp-action="Register" asp-controller="MaterialPanel" method="post">
        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="UsedFor" class="form-label"></label>
            <select asp-for="UsedFor" class="form-control">
                <option value="">
                    --Select Used For--
                </option>

                @foreach (SelectListItem item in Html.GetEnumSelectList<UsedFor>())
                {
                    <option value="@item.Value">
                        @item.Text
                    </option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">
            Submit
        </button>
    </form>
</div>