@{
    ViewData["Title"] = "Home - Welcome";
}

<h2>
    @ViewData["Title"]
</h2>

<div class="text-center">
    <h1 class="display-4">
        Welcome to Profais
    </h1>
   <p>
        ッ
   </p>
</div>
