@using Profais.Services.ViewModels.Shared;
@using Profais.Services.ViewModels.Project;
@model PagedResult<ProjectViewModel>

@{
    ViewData["Title"] = "Project - Paged Incompleted Projects";

    Model.PaginationViewModel.Area = "";
    Model.PaginationViewModel.Controller = "Project";
    Model.PaginationViewModel.Action = "IncompletedProjects";
}

<div class="container mt-4">
    <h2>
        @ViewData["Title"]
    </h2>

    <div class="row">
        @foreach (ProjectViewModel project in Model.Items)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @project.Title
                        </h5>

                        <p class="card-text">
                            @project.AbsoluteAddress
                        </p>

                        <form asp-action="ViewProject" asp-controller="Project" method="get">
                            <input value="@project.Id" hidden name="projectId" />

                            <button type="submit" class="btn btn-primary">
                                View Project
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <partial name="_Pagination" model="Model.PaginationViewModel" />
</div>