@{
    ViewData["Title"] = "Page Not Found";
}

<h1>
    404 - Page Not Found
</h1>

<p>
    @ViewData["ErrorMessage"]
</p>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <img src="https://internetdevels.com/sites/default/files/public/blog_preview/404_page_cover.jpg" alt="404 Error" class="img-fluid" style="max-width: 50%; max-height: 50%;">
</div>

